
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      Sea Routes
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/routes" href="#">routes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=" https://s3-eu-west-1.amazonaws.com/logindex-dev-export/challenge/web_challenge.csv">csv file</a>
          </li>
      </ul>
    </div>
  </nav>



 