<form>
    <div class="form-group">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">Select route</div>
            </div>
            <select class="form-control" (change)="selectRoute($event.target.value)" [disabled]="!routes">
                <option *ngFor="let route of routes" [value]="route.id">
                    {{route.fromPort + " to " + route.toPort}}
                </option>
            </select>
        </div>
    </div>
</form>